.comic-button {
  position: relative;
  margin: 12px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.comic-button:hover {
  animation: sh0 0.5s ease-in-out both;
}

.comic-button a {
  color: #fff;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.comic-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.comic-button::before,
.comic-button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.comic-button:hover::before,
.comic-button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.comic-button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.comic-button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
  



      .card-spacing {
        margin-bottom: 1.5rem; /* Adjust this value as needed */
      }
    
      @media (max-width: 575.98px) { 
        /* Extra small devices (portrait phones, less than 576px) */
        .card-spacing {
          margin-bottom: 2rem;
        }
      }
    
      @media (min-width: 576px) and (max-width: 767.98px) { 
        /* Small devices (landscape phones, 576px and up) */
        .card-spacing {
          margin-bottom: 2rem;
        }
      }
    
      @media (min-width: 768px) and (max-width: 991.98px) { 
        /* Medium devices (tablets, 768px and up) */
        .card-spacing {
          margin-bottom: 2rem;
        }
      }
    
      @media (min-width: 992px) and (max-width: 1199.98px) { 
        /* Large devices (desktops, 992px and up) */
        .card-spacing {
          margin-bottom: 2rem;
        }
      }
    
      @media (min-width: 1200px) { 
        /* Extra large devices (large desktops, 1200px and up) */
        .card-spacing {
          margin-bottom: 2rem;
        }
      }
